<% layout("layouts/boilerplate") %>

    <h2 class="fw-semibold mb-4">Explore Stays</h2>

    <div class="row g-4">
        <% for(listing of allListings){ %>
            <div class="col-md-4">
                <div class="card listing-card">

                    <div class="image-wrapper">
                        <img src="<%= listing.image %>" class="listing-img" loading="lazy">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">
                            <%= listing.title %>
                        </h5>
                        <p class="card-price">
                            ₹ <%= listing.price.toLocaleString("en-IN") %> • <%= listing.location %>, <%= listing.country %>
                        </p>

                        <a href="/listings/<%= listing._id %>" class="btn btn-teal btn-sm mt-2">
                            View Details
                        </a>
                    </div>

                </div>
            </div>
            <% } %>
    </div>