<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staoyra</title>
</head>
<body>
    <h1><%= askedListing.title %></h1>

   <!-- <img src="<%= askedListing.image %>"><br> -->
    
    <p>
        <%= askedListing.description %>
    </p>
    <p>
        <%= askedListing.price %>
    </p>
    <p>
        <%= askedListing.location %>
    </p>
    <p>
        <%= askedListing.country %>
    </p>
    <form method="GET" action="/listings/<%= askedListing._id %>/edit">
        <button type="submit">Edit</button>
    </form>
    <form method="POST" action="/listings/<%= askedListing._id %>/delete?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
</body>
</html>